/* line 17, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 66, ../../app/stylesheets/blog.sass */
.blog {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow-y: auto;
  background: #8ac5e9;
  font-family: "Helvetica", "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
/* line 71, ../../app/stylesheets/blog.sass */
.blog a {
  text-decoration: none;
}
/* line 73, ../../app/stylesheets/blog.sass */
.blog #header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .blog #header {
  overflow-x: hidden;
}
/* line 75, ../../app/stylesheets/blog.sass */
.blog #header h3 {
  font-family: "Syncopate";
  font-size: 3em;
  color: D4061E;
  margin: 1em 0em 0em 0em;
}
/* line 80, ../../app/stylesheets/blog.sass */
.blog #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
/* line 147, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .blog #footer {
  overflow-x: hidden;
}
/* line 82, ../../app/stylesheets/blog.sass */
.blog #footer #footer_content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
  font-size: 0.6em;
  float: right;
}
/* line 147, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .blog #footer #footer_content {
  overflow-x: hidden;
}
/* line 86, ../../app/stylesheets/blog.sass */
.blog #content {
  color: #f5f5f0;
}
/* line 88, ../../app/stylesheets/blog.sass */
.blog #content a {
  color: #9fccf0;
  text-decoration: none;
}
/* line 18, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content a:visited {
  color: #9ffcf0;
}
/* line 21, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content a:focus {
  color: #c74451;
}
/* line 24, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content a:hover {
  color: #c74451;
}
/* line 27, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content a:active {
  color: #c74451;
}
/* line 4, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.blog #content a:hover {
  text-decoration: underline;
}
/* line 90, ../../app/stylesheets/blog.sass */
.blog #content #left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  background: url('/images/middle_bknd.png?1305803682');
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  padding: 1em 1em 1em 2em;
}
/* line 147, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .blog #content #left {
  overflow-x: hidden;
}
/* line 10, ../../app/stylesheets/blog.sass */
.blog #content #left article header h2 {
  font-size: 2em;
  color: #e8b7bc;
  border-bottom: 1px #aaaaaa solid;
  margin: 0.2em 0em 0.2em 0em;
}
/* line 24, ../../app/stylesheets/blog.sass */
.blog #content #left article header h3 {
  font-size: 0.8em;
  color: #aaaaaa;
}
/* line 27, ../../app/stylesheets/blog.sass */
.blog #content #left article section {
  font-size: 1.2em;
  margin: 1em 0em 1em 0em;
}
/* line 30, ../../app/stylesheets/blog.sass */
.blog #content #left article section p#tags {
  font-size: 0.9em;
  font-family: "Trebuchet MS";
  margin: 1em 0em 1em 0em;
  color: #aaaaaa;
}
/* line 35, ../../app/stylesheets/blog.sass */
.blog #content #left article footer {
  font-size: 0.8em;
}
/* line 10, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments h2 {
  font-size: 1.4em;
  color: #e8b7bc;
  border-bottom: 1px #aaaaaa solid;
  margin: 0.2em 0em 0.2em 0em;
}
/* line 39, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments article {
  background-color: #999999;
  margin: 1em 0em 1em 0em;
  border-bottom: 3px solid #dddddd;
  padding: 1em 0em 0em 1em;
}
/* line 45, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments article header h3 {
  color: #0d0d0d;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 50, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments article header h4 {
  font-size: 0.7em;
  color: #eeeeee;
  line-height: 1.4em;
}
/* line 54, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments article section {
  margin: 1em 0em 0.4em 0em;
  font-size: 0.9em;
  color: black;
}
/* line 58, ../../app/stylesheets/blog.sass */
.blog #content #left section#comments article footer {
  font-size: 0.8em;
  margin: 0em 0em 1em 0em;
  color: #9fccf0;
  text-decoration: none;
}
/* line 18, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content #left section#comments article footer:visited {
  color: #9ffcf0;
}
/* line 21, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content #left section#comments article footer:focus {
  color: #c74451;
}
/* line 24, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content #left section#comments article footer:hover {
  color: #c74451;
}
/* line 27, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.blog #content #left section#comments article footer:active {
  color: #c74451;
}
/* line 4, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.blog #content #left section#comments article footer:hover {
  text-decoration: underline;
}
/* line 10, ../../app/stylesheets/blog.sass */
.blog #content #left section#newcomment h2 {
  font-size: 1.4em;
  color: #e8b7bc;
  border-bottom: 1px #aaaaaa solid;
  margin: 0.2em 0em 0.2em 0em;
}
/* line 93, ../../app/stylesheets/blog.sass */
.blog #content #right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
  background: url('/images/middle_bknd.png?1305803682');
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  padding: 1em 1em 1em 2em;
}
/* line 147, ../../../../../../../home/arun/.rvm/gems/ruby-1.9.2-p136@foo/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .blog #content #right {
  overflow-x: hidden;
}
