@import "partials/_base"

=content_box($width, $last:false)
  +column($width,$last)
  @include background(image-url('middle_bknd.png'))
  +border-radius(25px)  
  padding: 1em 1em 1em 2em  

.blog
  +container
  background: #8AC5E9    
  font-family: 'Helvetica','Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  a
    text-decoration: none
  #header
    +column(24,true)
    h3    
      font-family: 'Syncopate'
      font-size: 3em
      color: D4061E
      margin: 1em 0em 0em 0em
  #footer
    +column(20)
    #footer_content  
      +column(4,true)
      font-size: 0.6em
      float: right    
  #content
    color: #F5F5F0        
    a
      +link-colors(#9FCCF0,#C74451,#C74451,#9FFCF0,#C74451)
      +hover-link      
    #left
      +content_box(18)
      section
        h2
          font-size: 2em
          color: #E8B7BC          
          border-bottom: 1px #AAA solid
          margin: 0em 0em 0.2em 0em          
        #subHead
          font-size: 0.8em
          color: #AAA
        #post
          font-size: 1.2em
          margin: 1em 0em 1em 0em
          
    #right
      +content_box(3,true)
  
        
